<html>
<head></head>
<body>
  <h1>Guess a random number between 1 and 20</h1>

  <form>
    <input type="text" name="guess" />
    <input type="submit" value="Guess!" />
  </form>

  <% if message %>
    <p><%= message %></p>

    <% if number %>
      <p>
        THE SECRET NUMBER IS <%= number %>
      </p>

      <a href="/start-over">Start Over</a>
    <% end %>
  <% end %>
</body>
</html>
