<html>
<head></head>
<body>
  <h1>Guess a random number between 1 and 10</h1>

  <form>
    <input type="text" name="guess" />
    <input type="submit" value="Guess!" />
  </form>

  <% if message %>
    <p><%= message %></p>

    <p>
      THE SECRET NUMBER IS <%= number %>
    </p>
  <% end %>
</body>
</html>
